<h1 class="center animate__animated animate__rubberBand">Sobre Mi <img class="icon-mid animate__animated animate__backInRight" src="./../../../../assets/img/achievements-icon.png"></h1>
<h4 class="justify   animate__animated animate__fadeInUp">
   
    <p>
        Actualmente me encuentro desempleado, así que aprovecho todo el tiempo que puedo a mejorar
    </p>
    <p>
        Me levanto temprano para empezar a estudiar sobre las 8:00.
    </p>
    <p>
        Paro a las 11:00 para salir a entrenar.[esto solo los L,M,J,V]
    </p>
    <p>
        Vuelvo y preparo la comida, para volver a ponerme a las 15:00 a estudiar con un compañero hasta las 19:00
    </p>
    <p>
        Salgo a pasear 1 o 2 horas y vuelvo para hacer la cena.
    </p>

    <div>¿Qué hago en mi tiempo libre?</div>
    <div>
        <ol type="1" style="text-align: justify; margin-left: 300px; ">
            <br>
            <li>Entrenar</li>
            <li>Pasear</li>
            <li>Programar cosas divertidas como esta web</li>
            <li>Libros o Audio Libros de crecimiento personal</li>
            <li>Pasar tiempo con Animales</li>
            
        </ol>
        <hr style="width: 100%;">

    </div>
</h4>