<h1 class="center animate__animated animate__rubberBand">Logros <img class="logros-mid animate__animated animate__backInRight" src="./../../../../assets/img/achievements-icon.png"></h1>
<br>
<h3 class="center animate__animated animate__fadeInDown">Gracias por llegar hasta aquí</h3>
<hr>

<h4 class="justify animate__animated animate__fadeInUp">
    <p>
        ⊕ {{finalistatexto}}
    </p>
    <p>
        ⊕ {{crecimientotexto}}
    </p>
    <p>
        ⊕ {{estudiostexto}}
    </p>
    <hr>
    {{explicacion}}
    <hr>

    <!-- <button (click)="setLanguage()" >prueba</button> -->
</h4>