<h1 class="center">Logros <img class="logros-mid" src="./../../../../assets/img/achievements-icon.png"></h1>
<h3 class="center">Mi primer logro a comentar es, haberte atraido hasta aquí</h3>
<h4 class="center">
    <p>
        ⊕ Finalista del campeonato de ciberseguridad en equipos del I.E.S Alberti (Siendo el único que se presentó en solitario). [2017]
    </p>
    <p>
        ⊕ Encontré mi primer trabajo a los meses de salir de estudiar y reuní el dinero para sacarme el carnet de conducir y pagarme un grado superior de Desarrollo de Aplicaciones Multiplataforma en un centro privado. [2017]
    </p>
    <p>
        ⊕ Matrícula de Honor en el Grado Superior teniendo de nota 10 en todas las asignaturas durante los 2 años, excepto en proyecto final que saqué un 9. [2018-2020]
    </p>
    <p>
        ⊕ Nunca me rindo [1992-hoy]
    </p>
</h4>