<h1 class="center animate__animated animate__rubberBand">Trabajos <img class="icon-mid animate__animated animate__backInRight" src="./../../../../assets/img/achievements-icon.png"></h1>
<div class="center animate__animated animate__fadeInUp">
   
    <h3>
        (Prácticas) Desarrollador Web E-commerce en Asirtec
    </h3>
    <hr>
    <h4>
        {{asirtectexto}}
        <br>
        Lenguajes usados:
        <ul>
            <li *ngFor="let lenguaje of lenguajesasirtec">
                {{lenguaje}}
            </li>
        </ul>

    </h4>
    <h3>
        Técnico de Asistencia telefónica en Adecco -> Arvatos Bertelsmann -> Orange
    </h3>
    <hr>
    <h4>
        {{orangetexto}}
    </h4>
    
    <h3>
        (Prácticas) Técnico auxiliar en el Ayuntamiento de Cádiz.
    </h3>
    <hr>
    <h4>
        {{ayuntamientotexto}}
    </h4>
</div>